body {
    font-family: Arial;
}
header {
    margin-top: 40px;
}

header .jumbotron {
    border-radius: 0;
    background-color: #ededed;
    height: 150px;
    margin-bottom: 0;
}

header h1 {
    font-family: 'arial';
    font-weight: bold;
    font-size: 38px;
    text-transform: uppercase;
    color: #656565;
}


.car-container {
    margin: 0 200px;
}
.navbar {
    background-color: #e9695b;
}

.navbar .nav-item a {
    font-weight: bold;
}